
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Marcellus SC', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font: black;
    background-color:black;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Marcellus SC', serif;
    color: whitesmoke;
}

div {
    color: whitesmoke;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

audio {
    background-color: black;
    flex-grow: 1;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.query {
    color: whitesmoke;
    background-color: black;
}

input[type=text] {
    color: whitesmoke;
    font-family: 'Marcellus SC', serif;
}

input {
    color: whitesmoke;
    font-family: 'Marcellus SC', serif;
    background-color: black;
}