
*{
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-size: 1.2em;
    padding: 20px;
    font-family: 'Marcellus SC', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font: black;
    
}
body, footer {
    background:radial-gradient(rgb(77, 71, 71), black);
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Marcellus SC', serif;
    color: whitesmoke;
}

#specs {
    border-radius: 10px;
    text-align: left;

}

div {
    color: whitesmoke;
    padding: 5px;
}

#audio { 
    display: flex;
    flex-wrap: wrap;
    margin: 20px; 
    justify-content: center;
    align-items: center;  
    flex-grow: 1;   
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#album-cover {
    
    display: flex;
    align-items: center;
    justify-content: center;
}


input[type=text] {
    color: whitesmoke;
    font-family: 'Marcellus SC', serif;
}

input {
    color: whitesmoke;
    font-family: 'Marcellus SC', serif;
    background-color: black;
}
.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  
  
  
  
  .dropbtn {
    background-color: black);
    color: whitesmoke;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:whitesmoke);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: whitesmoke
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: whitesmoke;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:whitesmoke);}